@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
